.navbar {
    width: 32vw;
    height: 25%;
    margin: 40px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(235, 171, 94);
    border-bottom: 10px solid rgb(56, 8, 54);
    box-shadow: 20px 10px 10px rgb(65, 6, 80);
}

.navbar a {
    padding: 2%;
    color: rgb(75, 6, 92);
    flex-wrap: wrap
}

.navbar a:visited {
    color: rgb(115, 110, 119);
}