.navbar {
    width: 25vw;
    height: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 25px;
    background-color: rgb(235, 171, 94);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 10px solid rgb(56, 8, 54);
    box-shadow: 20px 10px 10px rgb(65, 6, 80);
}

.navbar a {
    text-decoration: none;
    color: rgb(75, 6, 92);
}

.navbar a:visited {
    color: rgb(86, 40, 129);
}